.carousel-container {
    /* width: 80%; */
    /* height: 500px; */
    background-color: black;
    /* margin: 0 auto; */
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

}

.slide {
    /* background-color: gray; */
    /* width: 80%; */
    /* height: 80%; */
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 250px 250px;
    gap: 1rem;
    /* background-color: brown; */
    margin: 2rem;
    /* grid-template-columns: 300px 300px; */
    /* grid-template-rows: 350px 350px; */
    /* background-color: gray; */
    /* width: 80%;
    height: 100%; */
    /* height: 80%;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem; */
    /* background-color: brown; */


}

.slide-card {

    position: relative;

    /* background-color: brown;
    width: 100%;
    height: 100%;
    position: relative; */

}

@keyframes rollout {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: none;
    }
}

.roll-out {
    animation: rollout 1s;
}

.slide-card__img {
    width: 100%;

    height: 100%;
    object-fit: cover;

}

.slide-card__title {

    color: white;

    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
    /* display: inline-block; */
    bottom: .5rem;
    width: 100%;
    text-align: center;
}


.carrousel__button {

    /* background-color: rgba(105, 13, 13, 0.308); */
}

.CarouselImg {
    max-width: 500px;
    width: 100% height auto;
    opacity: 1;
    transition: 1s;


}



.test {
    transition: opacity 2s;
}